/*
Place your custom CSS here
*/
.widget-hello-world {

}
.date {
    font-size: 20px;
}

.resource-view {
    resize: horizontal;
    min-width: 200px;
}

.scheduler-view {
    max-width: calc(100vw - 16px - 200px);
    width: auto;
}


.RBS-Scheduler-root tbody tr td:nth-child(2) {
    overflow: clip;
    max-width: calc(100vw - 16px - 200px);

}

.scheduler td div.resource-item {
    height: 51px !important;
}
.scheduler td div.resource-item .resource-item__name {
    text-align: left;
}