/*
Place your custom CSS here
*/

@import "Planner.css";
.widget-hello-world {

}
.date {
    font-size: 20px;
}

.resource-view {
    resize: horizontal;
    min-width: 168px;
}

.scheduler-view {
    max-width: calc(100vw - 16px - 250px);
    width: auto;
}


.RBS-Scheduler-root tbody tr td:nth-child(2) {
    overflow: clip;
    max-width: calc(100vw - 16px - 200px);

}

.scheduler td div.resource-item {
    height: 51px !important;
    /*background: red;*/
}
.scheduler td div.resource-item .resource-item__name {
    text-align: left;
}

#RBS-Scheduler-root thead tr td div {
    display: flex;
    justify-content: flex-start;

}

table.scheduler-bg-table tr td {
    border-right: 1px solid #e9e9e9 !important;
}


.anticon.icon-nav {
    line-height: 0 !important;
    display: flex;
    justify-content: center;
}

.today_button {
    border: 1px solid #3582d4;
    border-radius: 4px;
}
.RBS-Scheduler-root {
    margin-left: -6px;
}